{% extends "base.html" %}

{% block content %}
<div class=''>
{% for wish in wishes %}
<div class="card text-center">

  <div class="card-body">
    <h6 class="card-title">Name: {{wish.name}}</h6>
    {% if wish.image %}
    <img src="{{wish.image.url}}" class="card-img-top" alt="We are noobs" >
    {% endif %}
    <p class="card-text" ">Url: {{wish.url}}</p>
    {% if request.user == list.creator %}
    <a href="{% url 'wish-delete' wish.list.id wish.id %}" class="btn btn-outline-primary btn-block">Delete</a>
    {% endif %}
  </div>
</div>

{% endfor %}
 {% if request.user == list.creator %}
    <a href="{% url 'wish-create' list.id %}" class="btn btn-outline-dark">Add Wish</a>
{% endif %}

{% endblock %}
